<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>login page</title>-->
    <!--<link rel="stylesheet" type="text/css" href="/css/index.css">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->
<!--</head>-->
<!--<body>-->

    <!--<div align="center">-->
        <!--<label>Username:</label>-->
        <!--<input type="text" name="username"class="ghost-input" placeholder="Enter Username" required/>-->
        <!--<br/>-->
    <!--</div>-->
    <!--<div align="center">-->
        <!--<label>Password:</label>-->
        <!--<input type="password" name="password" class="ghost-input" placeholder="Enter Password" required/>-->
    <!--</div>-->
    <!--<div>-->
        <!--<input type="submit" class="ghost-button" value="Submit">-->
    <!--</div>-->

<!--</body>-->
<!--</html>-->



<html>
<body>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>