<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Register for Weather</title>-->
    <!--<link rel="stylesheet" type="text/css" href="/css/index.css">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>-->
<!--</head>-->
<!--<body>-->

<!--<h1 align="center"> Welcome to Your Weather App! </h1>-->
<!--<div align="center">-->
    <!--<input type="text" class="ghost-input" id="name" placeholder="username"><br>-->
    <!--<input type="email" class="ghost-input" id="email" placeholder="Email"><br>-->
    <!--<input type="password" class="ghost-input" id="pass" placeholder="Password"><br>-->

    <!--<div>-->
        <!--<input type="submit" class="ghost-button" id="reg-form-btn" value="Register Now!">-->
    <!--</div>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->



<html>
<body>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
<body>
</html>